<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://demo.harnishdesign.net/html/koice/images/favicon.png" rel="icon" />
  <title>General Invoice - Deda hospital</title>
  <meta name="author" content="harnishdesign.net">
  <!-- Stylesheet
  ======================= -->
  <link rel="stylesheet" type="text/css" href="http://demo.harnishdesign.net/html/koice/vendor/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://demo.harnishdesign.net/html/koice/vendor/font-awesome/css/all.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://demo.harnishdesign.net/html/koice/css/stylesheet.css"/>
</head>
<body>
<!-- Container -->
<div class="container-fluid invoice-container">
  <!-- Header -->
  <header>
  <div class="row align-items-center">
    <div class="col-sm-7 text-center text-sm-left mb-3 mb-sm-0">
      <img id="logo" src="http://demo.harnishdesign.net/html/koice/images/logo.png" title="Deda" alt="Deda" />
    </div>
    <div class="col-sm-5 text-center text-sm-right">
      <h4 class="text-7 mb-0">Invoice</h4>
    </div>
  </div>
  <hr>
  </header>
  
  <!-- Main Content -->
  <main>
  <div class="row">
    <div class="col-sm-6"><strong>Date:</strong> {{date}}</div>
    <div class="col-sm-6 text-sm-right"> <strong>Invoice No:</strong> {{invoiceNumber}}</div>
	  
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 text-sm-right order-sm-1"> <strong>Pay To:</strong>
      <address style="font-size: 9px;">
      Deda Hospital<br />
      Plot 1847 Cadastral Zone B07, <br />
      Behind ABC Cargo, Katampe, Abuja.<br />
       ☎ +2348184227707<br/>email: dedahospital@yahoo.com, <br />
       website: https://www.dedahospital.com
      </address>
    </div>
    <div class="col-sm-6 order-sm-0"> <strong>Invoiced To:</strong>
      <address>
      {{name}}<br />
      {{address}}<br />
      {{email}}
      </address>
    </div>
  </div>
	
  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table mb-0">
		<thead class="card-header">
          <tr>
            <td class="col-3 border-0"><strong>Service</strong></td>
			<td class="col-4 border-0"><strong>Description</strong></td>
            <td class="col-2 text-center border-0"><strong>Rate</strong></td>
			<td class="col-1 text-center border-0"><strong>QTY</strong></td>
            <td class="col-2 text-right border-0"><strong>Amount</strong></td>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="col-3 border-0">Consultation</td>
              <td class="col-4 text-1 border-0">Consultation</td>
              <td class="col-2 text-center border-0">&#8358;50.00</td>
			  <td class="col-1 text-center border-0">10</td>
			  <td class="col-2 text-right border-0">&#8358;500.00</td>
            </tr>
            <tr>
              <td>Test</td>
              <td class="text-1">Radiology</td>
              <td class="text-center">&#8358;120.00</td>
			  <td class="text-center">10</td>
			  <td class="text-right">&#8358;1200.00</td>
            </tr>
			<tr>
              <td>Scan</td>
              <td class="text-1">Opd Scan</td>
              <td class="text-center">&#8358;450.00</td>
			  <td class="text-center">1</td>
			  <td class="text-right">&#8358;450.00</td>
            </tr>
          </tbody>
		  <tfoot class="card-footer">
			<tr>
              <td colspan="4" class="text-right"><strong>Sub Total:</strong></td>
              <td class="text-right">&#8358;2150.00</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right"><strong>Tax:</strong></td>
              <td class="text-right">&#8358;215.00</td>
            </tr>
			<tr>
              <td colspan="4" class="text-right"><strong>Total:</strong></td>
              <td class="text-right">&#8358;{{total}}</td>
            </tr>
		  </tfoot>
        </table>
      </div>
    </div>
  </div>
  </main>
  <!-- Footer -->
  <footer class="text-center mt-4">
  <p class="text-1"><strong>NOTE :</strong> This email was generated from Deda Hospital Electronic System. please ignore it if you did not enroll for any of this services.</p>
  <div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print</a>  </div>
  </footer>
</div>
</body>

</html>




